---
BasedOnStyle: Microsoft
AllowAllConstructorInitializersOnNextLine: 'true'
AllowShortCaseLabelsOnASingleLine: 'true'
AllowShortFunctionsOnASingleLine: InlineOnly
AlwaysBreakTemplateDeclarations: 'Yes'
BinPackArguments: 'false'
BreakConstructorInitializers: BeforeComma
PointerAlignment: Left
SortIncludes: 'false'
SpaceBeforeParens: ControlStatements
SpacesInParentheses: 'false'
SpacesInSquareBrackets: 'true'
Standard: Auto
TabWidth: '4'
UseTab: Always

...
