{
    "warnings": {
        "warning": "THIS FILE IS ENGINE GENERATED.",
        "warning": "DO NOT CHANGE UNLESS YOU KNOW WHAT YOU ARE DOING."
    },
    "editor_state": {
        "active_displays": 2025,
        "gridSnap": true,
        "showAnimations": false,
        "showCollisions": false
    }
}